<div class="panel panel-info">
  <div class="panel-heading">ニックネーム</div>
  <div class="panel-body">
    <%= @user.nickname %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">メールアドレス</div>
  <div class="panel-body">
    <%= @user.email %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">誕生日</div>
  <div class="panel-body"><%= @user.birthday %></div>
</div>


<%= link_to '今までの勉強履歴', user_pomos_path(@user), class: 'btn btn-info' %>
<% if current_user == @user %>
  <%= link_to 'いますぐ勉強する!', new_user_pomo_path(@user), class: 'btn btn-success' %>
  <%= link_to 'ユーザ情報を編集する', edit_user_registration_path(@user), class: 'btn btn-info' %>
<% end %>

<% if current_user&.admin?  %>
  <%= link_to 'ユーザ一覧画面をみる', users_path, class: 'btn btn-link' %>
<% end %>
