<%= form_with(model: pomo, url: [@user, pomo], local: true) do |form| %>
  <% if pomo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pomo.errors.count, "error") %> prohibited this pomo from being saved:</h2>

      <ul>
      <% pomo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: @user.id %>

  <div class="field">
    <!-- 以下のフォームに関してコメント以外は概ね不可視化を行う。 -->
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :pomo_start_time %>
  </div>

  <div class="field">
    <%= form.label :stop_time %>
    <%= form.datetime_select :stop_time, id: :pomo_stop_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, id: :pomo_end_time %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :pomo_comment %>
  </div>

  <div class="field">
    <%= form.label :passage_seconds %>
    <%= form.number_field :passage_seconds, id: :pomo_passage_seconds %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
  <form name="timer">
    <input type="text" value="">分
    <input type="text" value="">秒<br>
    <input type="button" value="スタート" onclick="cntStart()">
    <input type="button" value="ストップ" onclick="cntStop()">
  </form>

<br/>
<br/>
<br/>
<br/>

debug
<br/>
残り分数   <span id="minutes"></span>
<br/>
残り秒数   <span id="seconds"></span>
<br/>
経過秒数   <span id="passage"></span>
<br/>

<input type="button" value="startPomoTimer" onclick="startPomoTimer();" />
<input type="button" value="stopPomoTimer" />
<br/>
<br/>
<br/>
<br/>

