<p id="notice"><%= notice %></p>

<h1>Pomos</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>Stop time</th>
      <th>End time</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pomos.each do |pomo| %>
      <tr>
        <td><%= pomo.start_time %></td>
        <td><%= pomo.stop_time %></td>
        <td><%= pomo.end_time %></td>
        <td><%= pomo.comment %></td>
        <td><%= link_to 'Show', pomo %></td>
        <td><%= link_to 'Edit', edit_pomo_path(pomo) %></td>
        <td><%= link_to 'Destroy', pomo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pomo', new_pomo_path %>
