<div class="panel panel-default">
  <div class="panel-heading">開始した時間</div>
  <div class="panel-body">
    <%= @pomo.start_time.strftime('%Y年%m月%d日%H時%m分%S秒') %>
  </div>
</div>

<!-- 今後 stop_timeは消すかもしれない -->
<% if @pomo.stop_time %>
  <p>
    <strong>Stop time:</strong>
    <%= @pomo.stop_time.strftime('%Y年%m月%d日%H時%m分%S秒') %>
  </p>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">終了した時間</div>
  <div class="panel-body">
    <%= @pomo.end_time.strftime('%Y年%m月%d日%H時%m分%S秒') %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">勉強した時間</div>
  <div class="panel-body">
    <%= "#{@pomo.passage_seconds / 60}分#{@pomo.passage_seconds % 60}秒" %>
  </div>
</div>

<% if @pomo.comment %>
  <div class="panel panel-default">
    <div class="panel-heading">コメント</div>
    <div class="panel-body">
      <%= @pomo.comment %>
    </div>
  </div>
<% end %>

<%= link_to '戻る', user_pomos_path(@user) %>
